@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
.headerStyle p {
    padding: 30px 0;
    font-size: 38px;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 1px 1px 2px white;
}

.headerStyle {
    min-height: 75px;
    background-color: rgb(92, 71, 230);
}

.btnNav {
    margin-left: end;
}
